<h1>Hi! Please confirm your email!</h1>

<body class="bg-[#F9FAFB] font-sans flex flex-col justify-center items-center gap-8 min-h-screen">
    <p>
        Veuillez confirmer votre adresse courriel en cliquant sur le lien suivant : <br><br>
        <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
        Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>

    <p>
        À bientôt !
    </p>
</body>