@import "tailwindcss";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    background-color: #F9FAFB;
    font-family: 'Arimo', sans-serif;
}

link{
    text-decoration: none;
    color: #155DFC;
}
button{
    background-color: #155DFC;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #0D3B9E;
    color: white;
}

