<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>PDF Test</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 40px;
        }

        h1 {
            color: #155DFC;
        }
    </style>
</head>
<body>

    <h1>Bonjour depuis Symfony 🚀</h1>

    <p>
        Ceci est un PDF généré avec Gotenberg.
    </p>

</body>
</html>